<mat-list role="list" class="d-flex flex-column text-capitalize">
  <!-- <mat-list-item role="listitem" routerLink="/dashboards/social-media/overview">Overview</mat-list-item> -->
  <mat-list-item style="font-family: 'Lato', sans-serif;" role="listitem" routerLink="/dashboards/social-media/overview" routerLinkActive="active-link">Overview</mat-list-item>
  <mat-list-item style="font-family: 'Lato', sans-serif;" role="listitem" routerLink="/dashboards/social-media/national-district" routerLinkActive="active-link">National
    Pages</mat-list-item>
  <mat-list-item style="font-family: 'Lato', sans-serif;" role="listitem" routerLink="/dashboards/social-media/ap-district" routerLinkActive="active-link">Andhra
    Pages</mat-list-item>
  <!-- <mat-list-item role="listitem" routerLink="/dashboards/social-media/page-performance" routerLinkActive="active-link">Page
    Performance</mat-list-item> -->
  <!-- <mat-list-item role="listitem" routerLink="/dashboards/social-media/post-performance" routerLinkActive="active-link">Post
    Performance</mat-list-item> -->
  <mat-list-item style="font-family: 'Lato', sans-serif;" role="listitem" routerLink="/dashboards/social-media/district-mapping" routerLinkActive="active-link">Page
    Management</mat-list-item>
  <mat-list-item style="font-family: 'Lato', sans-serif;" role="listitem" routerLink="/dashboards/social-media/scheduler" routerLinkActive="active-link">Scheduler</mat-list-item>
  <mat-list-item style="font-family: 'Lato', sans-serif;" role="listitem" routerLink="/dashboards/social-media/scheduled-posts" routerLinkActive="active-link">Scheduled Posts</mat-list-item>
</mat-list>