<div class="container-fluid d-flex align-items-center justify-content-center bg-color thank_you_bg">
  <mat-card class="matclass">
    <div class="row">
      <div class="col-12 text-center">
        <h5>प्रशांत किशोर से जुड़े रहने के लिए </h5>
        <h5>ट्विटर पर फॉलो करें <br><a href="https://twitter.com/PrashantKishor"><img src="assets/images/twtteampk.png"
              class="img-responsive" /></a></h5>
        <h5>फेसबुक पेज को लाइक करें <br><a href="https://www.facebook.com/Prashant-Kishor-220107601889165/"><img src="assets/images/fbteampk.png"
              class="img-responsive" /></a> </h5>
      </div>
      <!--<div class="col-12 text-center">
        <h5>अधिक जानकारी के लिए कॉल कीजिए</h5>
          <a href="tel:9121691216"><img src="assets/images/missedcall-phonenumber.png" class="img-responsive" /></a>
        </div>-->
      <div class="col-12 text-center">
        <a href="mailto:office@prashantkishor.in"><img src="assets/images/mail.png" class="img-responsive" /></a>
      </div>
    </div>
  </mat-card>
</div>
<p style="background-color: #f3f3f3; text-align:center;margin-bottom: 0px;padding-bottom: 10px;">© 2018
  YouthInPolitics. All
  Rights Reserved.</p>
<!-- Global site tag (gtag.js) - Google Ads: 781167182 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-781167182"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-781167182');
</script>