<!-- <div [ngSwitch]="keyWordSwitch">
    <div *ngSwitchCase="'loading'">

    </div>
    <div *ngSwitchCase="'active'">
        <div [ngSwitch]="keyWordAccordionSwitch">
            <div *ngSwitchCase="'loading'">

            </div>
            <div *ngSwitchCase="'active'">

            </div>
        </div>
    </div>
</div> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-toolbar-row>
            <span class="d-flex pointer">
                <i class="material-icons md-48" (click)="drawer.toggle()">menu</i>
            </span>
            <span style="font-family: 'Lato', sans-serif;padding-left:10px;" class="text-uppercase">Media</span>
            <span class="example-spacer"></span>
            <i class="material-icons pointer" (click)="logout()">power_settings_new</i>
        </mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container full-page bg-white" autosize>
    <mat-drawer #drawer class="example-sidenav side-bar" mode="side" [opened]="false">
        <mat-nav-list>
            <app-media-links class="text-capitalize"></app-media-links>
        </mat-nav-list>
    </mat-drawer>

    <div class="container d-flex flex-column align-items-center justify-content-center">
            <h4 class="text-capitalize font-weight-bold text-center pt-3">Keyword management</h4>
        <div [ngSwitch]="keyWordSwitch">
            <div *ngSwitchCase="'loading'" class="message-switch">
                <p>Fetching keywords ...</p>
                <mat-progress-bar mode="query"></mat-progress-bar>
            </div>
            <div *ngSwitchCase="'active'">
                <button mat-mini-fab class="float-right margin-1-em" (click)="openKeywordDialog()">
                    <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
                </button>
                <div [ngSwitch]="keywordAccordionSwitch">
                    <div *ngSwitchCase="'loading'" class="message-switch">
                        <p>Fetching keywords ...</p>
                        <mat-progress-bar mode="query"></mat-progress-bar>
                    </div>
                    <div *ngSwitchCase="'active'">
                        <table mat-table [dataSource]="keyWordList" class="mat-elevation-z8" class="full-length">
                            <!--- Note that these columns can be defined in any order.
                                                    The actual rendered columns are set as a property on the row definition" -->

                            <!-- Name Column -->
                            <ng-container matColumnDef="keyword">
                                <th mat-header-cell *matHeaderCellDef> Keyword </th>
                                <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="synonyms">
                                <th mat-header-cell *matHeaderCellDef> Synonyms </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- {{element.synonyms | json}} -->
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let synonym of element.synonyms">
                                            {{synonym}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="is_active">
                                <th mat-header-cell *matHeaderCellDef> Active </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <span class="dot" [ngStyle]="{'background-color': element.is_active ? 'green' : 'red'}"></span>&nbsp;
                                        <span>{{element.is_active}}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- media Column -->
                            <ng-container matColumnDef="keyword_type">
                                <th mat-header-cell *matHeaderCellDef> Keyword Type </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.keyword_type}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edit_keyword">
                                <th mat-header-cell *matHeaderCellDef> Edit </th>
                                <td mat-cell *matCellDef="let row; element">
                                    <button mat-icon-button (click)="openEditKeyWordDialog(row)"><mat-icon>edit</mat-icon></button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delete_keyword">
                                <th mat-header-cell *matHeaderCellDef> Delete </th>
                                <td mat-cell *matCellDef="let row; element">
                                    <button mat-icon-button (click)="deleteKeyWord(row)"><mat-icon>delete</mat-icon></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
                <mat-paginator *ngIf="keyWordList?.length > 0" [hidePageSize]="true" [length]="totalRecords" [pageSize]="pageSize"
                    (page)="pageEvent($event)">
                </mat-paginator>
            </div>
        </div>
    </div>

</mat-drawer-container>