<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button (click)="toggleD()"><mat-icon class="md-36">menu</mat-icon></button>
            <span style="font-family: 'Lato', sans-serif;padding-left:10px;" class="text-uppercase">IPAC Dashboards</span>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="logout()"><mat-icon class="md-36">power_settings_new</mat-icon></button> 
        </mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>