requests
ipython
feedparser
python-dateutil
parsedatetime
numpy
fuzzywuzzy
google-cloud
python-Levenshtein
google-cloud-language
google-cloud-storage
google-cloud-translate
urllib3
pandas
ipython
bs4
xlwt
lxml
tabulate
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
django_cron==0.3.4