.background-custom{
    font-family: 'Lato', sans-serif !important;
    background-image: url(https://cdn.dribbble.com/users/588874/screenshots/2341875/dribbble.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
}

.card-custom{
    background-image: url(https://cdn.dribbble.com/users/707385/screenshots/3926142/18_15_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
a:hover{
    text-decoration: none;
}

.example-full-width{
    width:100%;
}