<div class="container-fluid full-screen d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="user">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter your password" [type]=" hide ? 'password' : 'text'" formControlName="password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <button mat-raised-button color="accent" [disabled]="!loginForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
